
<section class="contact-container">
<!--   <strong><span style ="margin-left:20px; letter-spacing:1px;">Additional Resources</span></strong> -->
    {% for block in section.blocks %}
      <h2>{{presets.settings.section-heading}}</h2>
    {% endfor %}
    <div class="manual-buttons-container">
   
    {% for block in section.blocks %}
    {% if block.settings.view-btn-link and block.settings.view-btn != blank %}
    <a class="manual-buttons" href="{{ block.settings.view-btn-link }}" target="_blank">
          {{ block.settings.contact-icon }}&nbsp; &nbsp;{{ block.settings.view-btn }}    
        </a>
    {%endif%}
    {% endfor %}
  
  </div>
</section>
  
         {% schema %} 
            {
              "blocks": [
                            {
                              "type": "first-section",
                              "name": "Buttons",
                              "settings": [
                                            {
                                            "id": "view-btn-link",
                                            "type": "url",
                                            "label": "Button URL"
                                            },
                                            {
                                            "id": "view-btn",
                                            "type": "text",
                                            "label": "Button name"
                                            },
                                {
                                  "id":"contact-icon",
                                  "type":"html",
                                  "label":"choose an icon"
                                }
                                          ]
                             }
                          ],
               "presets": [
                                {
                                "name": "Contact Buttons",
                                "category": "ADVANCED LAYOUT"	
                                }
                           ]
            }
          {% endschema %}
  
  
  
  
  
  {% style %}
      
    .manual-buttons-container {
        display: flex;
        align-items: center;
      justify-content:center;
        color:white;
        margin-bottom: 30px;
        flex-wrap:wrap;
      background-color:#F3F3F3;
        padding-bottom:40px;
          }
  
    .manual-buttons{
        margin-left: 20px;
        background: #F8BA23;
        color: black;
/*         border: 1px solid black; */
        padding: 11px 20px;
/*         min-width:300px; */
        max-width:200px;
        
        line-height: 1.42;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        flex: 1 0 29%;
        margin-bottom:5px;
      text-decoration:none;
    }
  
    .manual-buttons:hover{
          background:white;
          color:black;
        }
  
    
    @media screen and (max-width: 600px) {
   
      .manual-buttons-container {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction:column;
/*               margin-top: 25px; */
/*               margin-bottom: 100px; */
              max-width: 100%;
        }
          .manual-buttons	{
        margin: 0px 20px 7px 20px;
        width:100%;
             
      }
    
  }
  
 
{% endstyle %}
      